--- 
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />		
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #13151A;
	}

	body {
		margin: auto;
		padding: 0 1rem;
		width: 1000px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
